.block-img-wrapper__img-wrapper {
  height: 258px;
}
@media (min-width: $tablet) {
  .block-img-wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 768px;
    height: 256px;


    outline: 2px solid rgb(33, 142, 231);
    outline-offset: -2px;
  }
}
@media (min-width: $desktop) {
  .block-img-wrapper {
    min-width: 1200px;
  }
}
