.decoration {
  height: 50px;
  outline: 2px solid rgb(246, 120, 120);
  outline-offset: -2px;
}
.decoration--not-main {
  height: 25px;
}
@media (min-width: $tablet) {
.decoration {
  display: none;
  }
}
