.decoration {
  height: 30px;
  margin-top: 52px;
  background-image: url(source/img/bg-intro-triangle-mobile.svg);
}
.decoration--not-main {
  height: 25px;
}
@media (min-width: $tablet) {
.decoration {
  display: none;
  }
}
