.form-name {
  min-height: 304px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  padding-bottom: 28px;
}
@media (min-width: $tablet) {
  .form-name {
    width: 50%;
    min-height: 379px;
    padding-top: 49px;
    padding-bottom: 45px;
    margin: 0;
  }
  .form-name .form__title {
    padding-right: 109px;
    padding-bottom: 35px;
  }
  .form-name .form__input {
    margin-left: 12px;
  }
}
@media (min-width: $desktop) {
  .form-name {
    min-height: 360px;
    margin: 0;
    padding: 0px;
    padding-bottom: 62px;
  }
  .form-name .form__title {
    padding-right: 283px;
    padding-bottom: 38px;
  }
  .form-name .form__label {
    padding-right: 41px;
  }
}
