.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 194px;
  padding-top: 7px;
  align-items: center;
  text-align: center;
}
.intro--form-page {
  height: 190px;
}
.intro--photo-page {
  height: 176px;
}
.intro__title {
  width: 265px;
  margin: 0;
  padding-top: 9px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 31px;
}
.intro__text {
  width: 265px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.intro__title--photo-page {
    padding-bottom: 27px;
    padding-top: 6px;
    padding-left: 8px;
}
.intro__text--photo-page {
  width: 278px;
  padding-left: 2px;
}
.intro__text--form {
  width: 275px;
}
.intro__title--form-page {
  padding-top: 11px;
}
@media (min-width: $tablet) {
  .intro {
    min-height: 204px;
    padding: 0;
  }
  .intro__title {
    width: 520px;
    text-align: center;
    font-size: 21px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 32px;
  }
  .intro__title--photo-page, .intro__title--form-page {
    font-size: 30px;
    line-height: 26px;
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .intro__title--form-page {
    padding-bottom: 32px;
  }
  .intro__text {
    text-align: center;
    width: 520px;
  }
  .intro__text--form {
    width: 438px;
  }
  .intro__text--photo-span {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 400px;
  }
}
@media (min-width: $desktop) {
  .intro {
    padding-top: 10px;
  }
  .intro--form-page {
    min-height: 185px;
    margin-top: 63px;
  }
  .intro--photo-page {
    margin-top: 63px;
  }
  .intro__title--form-page {
    padding-top: 18px;
  }
  .intro__title--photo-page {
    padding-top: 4px;
    padding-bottom: 33px;
    padding-right: 10px;
  }
}
