.interested {
  width: 100%;
  height: 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.interested__google {
  border: none;
  outline: none;
  width: 100%;
}
.interested__map {
  width: 320px;
  height: 350px;
  background-image: url(./../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: #cce0a3;
  margin-top: 50px;
  position: relative;
  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url(./../img/bg-map-mobile@2x.jpg);
    background-size: 320px;
  }
}
@media (min-width: $tablet) {
  .interested {
    height: 665px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .interested__map {
    width: 768px;
    background-image: url(./../img/bg-map-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-color: #cce0a3;
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url(./../img/bg-map-tablet@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  .button {
    width: 458px;
    height: 58px;
    padding-top: 2px;
  }
}
@media (min-width: $desktop) {
  .interested {
    height: 682px;
    padding-top: 0px;
  }
  .interested__map {
    width: 1200px;
    background-image: url(./../img/bg-map-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-color: #cce0a3;
    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url(./../img/bg-map-desktop@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }
}
