.list-features {
  list-style: none;
  padding: 0;
}
.list-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.list-features__text {
  font-size: 14px;
  line-height: 21px;
}
