.photogallery {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: $tablet) {
  .photogallery {
    width: 649px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photogallery .hr {
    display: none;
  }
}
@media (min-width: $desktop) {
  .photogallery {
    margin: 0;
    width: 100%;
  }
}
