.photogallery {
  list-style: none;
  outline: 2px solid red;
  outline-offset: -2px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: $tablet) {
  .photogallery {
    width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: $desktop) {
  .photogallery {
    margin: 0;
    width: 100%;
  }
}
