.header__image {
  width: 320px;
  height: 389px;
  //background-image: url(/source/img/text-sedona-index.svg), url(/source/img/bg-back-mobile@1x.jpg);
  background-size: 250px, auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;

  outline: 2px solid red;
  outline-offset: -2px;
}
.header__image--not-main {
  height: 158px;
  //background-image: url(/source/img/text-sedona.svg) , url(/source/img/bg-back-tablet@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 229px, auto;
  background-position: center, bottom;
}
.header__logo {
  min-width: 101.7px;
}
.header__middle {
  height: 56px;
  //outline: 2px solid rgb(66, 61, 61);
  //outline-offset: -2px;
}
@media (min-width: $tablet) {
  .header__image {
    width: 768px;
    height: 518px;
    background-size: 461px, 200%;
  }
  .header__image--not-main {
    height: 292px;
  }
  .header__logo {
    margin-top: -56px;
    }
  .header__middle {
    height: 0px;
    position: relative;
  }
}
@media (min-width: $desktop) {
  .header__image {
    width: 1200px;
    height: 518px;
  }
  .header__image--not-main {
    height: 386px;
  }
}
