.header__image--main {
  max-width: 320px;
  height: 389px;
  background-image: url(/source/img/text-sedona-index.svg), url(/source/img/bg-back-mobile@1x.jpg);
  background-size: 282px, cover;
  background-position: center, center;
  background-repeat: no-repeat;
  z-index: 2;
  @media (min-resolution: 2dppx) {
    background-image: url(/source/img/text-sedona-index.svg), url(/source/img/bg-back-mobile@2x.jpg);
  }
}
.header__image--not-main {
  height: 158px;
  background-image: url(/source/img/text-sedona.svg), url(/source/img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 229px, auto;
  background-position: center, center bottom;
  @media (min-resolution: 2dppx) {
    background-image: url(/source/img/text-sedona.svg), url(/source/img/bg-back-mobile@2x.jpg);
    background-size: 229px, 800px auto;
  }
}
.header__logo {
  min-width: 101.7px;
}
.header__middle {
  height: 56px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: $tablet) {
  .header__image--main {
    max-width: 768px;
    height: 518px;
    background-size: 460px, cover;
    @media (min-resolution: 2dppx) {
      background-image: url(/source/img/text-sedona-index.svg), url(/source/img/bg-back-tablet@2x.jpg);
    }
  }
  .header__image--not-main {
    height: 292px;
  }
  .header__logo {
    margin-top: -56px;
    }
  .header__middle {
    height: 0px;
    position: relative;
  }
}
@media (min-width: $desktop) {
  .header__image--main {
    max-width: 1200px;
    height: 518px;
    @media (min-resolution: 2dppx) {
      background-image: url(/source/img/text-sedona-index.svg), url(/source/img/bg-back-desktop@2x.jpg);
    }
  }
   .header__image--not-main {
    max-width: 1200px;
    height: 325px;
    background-size: 460px, cover;
    background-position-y: 102px, -195px;
    @media (min-resolution: 2dppx) {
      background-image: url(/source/img/text-sedona.svg), url(/source/img/bg-back-desktop@2x.jpg);
    }
  }
}
