a {
  text-decoration: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.page__body {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'ptsans', Arial, Helvetica, sans-serif;
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: $tablet) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: $desktop) {
  .page__body {
    width: 1200px;
  }
}
