*, *::before, *::after {
  box-sizing: border-box;
}
.page__body {
  width: 320px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'ptsans';

  outline: 2px solid rgb(250, 231, 59);
  outline-offset: -2px;
  background-image: url(/source/img/Mobile.jpg);
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: top, center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: $tablet) {
  .page__body {
    width: 768px;
    background-image: url(/source/img/Tablet.jpg);
    background-size: 768px;
  }
}
@media (min-width: $desktop) {
  .page__body {
    width: 1200px;
    background-image: url(/source/img/Desktop.jpg);
    background-size: 1280px;

  }
}
